<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.linus.gpstie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityGPSRoleSelectDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.gpssender.ActivityGPSSender"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".activity.gpsreceiver.ActivityGPSReceiver"
            android:configChanges="screenSize|orientation"/>

    </application>

    <!-- Keep activities in background running -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Client/Server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Get local IP -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Get GPS Position (on newer devices, it gets asked); only needed by the GPSSender -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>